<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dist/css/bootstrap-table.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/dashboard.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file"></span>
                                Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="shopping-cart"></span>
                                Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="users"></span>
                                Customers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2"></span>
                                Reports
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="layers"></span>
                                Integrations
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Saved reports</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Current month
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Last quarter
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Social engagement
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Year-end sale
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button class="btn btn-sm btn-outline-secondary">Share</button>
                            <button class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This week
                        </button>
                    </div>
                </div>

                <canvas class="my-4" id="myChart" width="900" height="380"></canvas>

                <h2>Section title</h2>
                <table id="table"></table>

                <div class="m_container">
                    <img class="m_img" src="/static/floor_white.jpg" alt="Snow" style="width:100%">
                    <button class="m_btn m_btn1">1</button>
                    <button class="m_btn m_btn2">2</button>
                    <button class="m_btn m_btn3">3</button>
                    <button class="m_btn m_btn4">4</button>
                    <button class="m_btn m_btn5">5</button>
                    <button class="m_btn m_btn6">6</button>
                    <button class="m_btn m_btn7">7</button>
                    <button class="m_btn m_btn8">8</button>
                    <button class="m_btn m_btn9">9</button>
                    <button class="m_btn m_btn10">10</button>
                    <button class="m_btn m_btn11">11</button>
                    <button class="m_btn m_btn12">12</button>
                    <button class="m_btn m_btn13">13</button>
                    <button class="m_btn m_btn14">14</button>
                    <button class="m_btn m_btn15">15</button>
                    <button class="m_btn m_btn16">16</button>
                    <button class="m_btn m_btn17">17</button>
                    <button class="m_btn m_btn18">18</button>
                    <button class="m_btn m_btn19">19</button>
                    <button class="m_btn m_btn20">20</button>
                    <button class="m_btn m_btn21">21</button>
                    <button class="m_btn m_btn22">22</button>
                    <button class="m_btn m_btn23">23</button>
                    <button class="m_btn m_btn24">24</button>
                    <button class="m_btn m_btn25">25</button>
                    <button class="m_btn m_btn26">26</button>
                    <button class="m_btn m_btn27">27</button>
                    <button class="m_btn m_btn28">28</button>
                    <button class="m_btn m_btn29">29</button>
                    <button class="m_btn m_btn30">30</button>
                    <button class="m_btn m_btn31">31</button>
                    <button class="m_btn m_btn32">32</button>
                    <button class="m_btn m_btn33">33</button>
                    <button class="m_btn m_btn34">34</button>
                    <button class="m_btn m_btn35">35</button>
                    <button class="m_btn m_btn36">36</button>
                    <button class="m_btn m_btn37">37</button>
                    <button class="m_btn m_btn38">38</button>
                    <button class="m_btn m_btn39">39</button>
                    <button class="m_btn m_btn40">40</button>
                    <button class="m_btn m_btn41">41</button>
                    <button class="m_btn m_btn42">42</button>
                    <button class="m_btn m_btn43">43</button>
                    <button class="m_btn m_btn44">44</button>
                    <button class="m_btn m_btn45">45</button>
                    <button class="m_btn m_btn46">46</button>
                    <button class="m_btn m_btn47">47</button>
                    <button class="m_btn m_btn48">48</button>
                    <button class="m_btn m_btn49">49</button>
                    <button class="m_btn m_btn50">50</button>
                    <button class="m_btn m_btn51">51</button>
                    <button class="m_btn m_btn52">52</button>
                    <button class="m_btn m_btn53">53</button>
                    <button class="m_btn m_btn54">54</button>
                    <button class="m_btn m_btn55">55</button>
                    <button class="m_btn m_btn56">56</button>
                    <button class="m_btn m_btn57">57</button>
                    <button class="m_btn m_btn58">58</button>
                    <button class="m_btn m_btn59">59</button>
                    <button class="m_btn m_btn60">60</button>
                    <button class="m_btn m_btn61">61</button>
                    <button class="m_btn m_btn62">62</button>
                    <button class="m_btn m_btn63">63</button>
                    <button class="m_btn m_btn64">64</button>
                    <button class="m_btn m_btn65">65</button>
                    <button class="m_btn m_btn66">66</button>
                    <button class="m_btn m_btn67">67</button>
                    <button class="m_btn m_btn68">68</button>
                    <button class="m_btn m_btn69">69</button>
                    <button class="m_btn m_btn70">70</button>
                    <button class="m_btn m_btn71">71</button>
                    <button class="m_btn m_btn72">72</button>
                    <button class="m_btn m_btn73">73</button>
                    <button class="m_btn m_btn74">74</button>
                    <button class="m_btn m_btn75">75</button>
                    <button class="m_btn m_btn76">76</button>
                    <button class="m_btn m_btn77">77</button>
                    <button class="m_btn m_btn78">78</button>
                    <button class="m_btn m_btn79">79</button>
                    <button class="m_btn m_btn80">80</button>
                    <button class="m_btn m_btn81">81</button>
                    <button class="m_btn m_btn82">82</button>
                    <button class="m_btn m_btn83">83</button>
                    <button class="m_btn m_btn84">84</button>
                    <button class="m_btn m_btn85">85</button>
                    <button class="m_btn m_btn86">86</button>
                    <button class="m_btn m_btn87">87</button>
                    <button class="m_btn m_btn88">88</button>
                    <button class="m_btn m_btn89">89</button>
                    <button class="m_btn m_btn90">90</button>
                    <button class="m_btn m_btn91">91</button>
                    <button class="m_btn m_btn92">92</button>
                    <button class="m_btn m_btn93">93</button>
                    <button class="m_btn m_btn94">94</button>
                    <button class="m_btn m_btn95">95</button>
                    <button class="m_btn m_btn96">96</button>
                    <button class="m_btn m_btn97">97</button>
                    <button class="m_btn m_btn98">98</button>
                    <button class="m_btn m_btn99">99</button>
                    <button class="m_btn m_btn100">100</button>
                    <button class="m_btn m_btn101">101</button>
                    <button class="m_btn m_btn102">102</button>
                    <button class="m_btn m_btn103">103</button>
                    <button class="m_btn m_btn104">104</button>
                </div>
            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script> -->
    <script src="/static/jquery-3.3.1.js"></script>
    <!-- <script>window.jQuery || document.write('<script src="/static/assets/js/vendor/jquery-slim.min.js"><\/script>')</script> -->
    <script src="/static/assets/js/vendor/popper.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
    <script src="/static/dist/js/bootstrap-table.js"></script>
    <script src="/static/dist/js/locale/bootstrap-table-en-US.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="/static/main.js"></script>
</body>

</html>